[Unit]
Description=Pi Camera Web Server
AssertPathExists=/home/pi/pi-camera-stream

[Service]
Type=simple
ExecStart=su - pi /home/pi/pi-camera-stream/run.sh
KillMode-process
Restart=on-failure

[Install]
WantedBy=multi-user.target
